#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install $@
	mkdir -p debian/check-sas-smart/usr/lib/nagios/plugins
	mv debian/check-sas-smart/usr/bin/check_sas_smart debian/check-sas-smart/usr/lib/nagios/plugins/
	rm -Rf debian/check-sas-smart/usr/bin
